.page-list {   
    .card{
        border: none;
        p{
            margin: 0;
        }
        &-body{
            padding: 0;
        }
    }
    .page-item a{
        border:none;
    }
    .page-item a:hover{
        color: $primary;
    }
}